body > div {
    width: 100%;
    /* width: 1200px; */
    /* margin-left: calc((100% - 1200px)/ 2); */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

header {
display: inline-block;
width: 100%;
background-color: black;
}

    header > img {
        display: inline-block;
        float: right;
        height: 25px;
        
    }

    nav {
        display: inline-block;
        width: 100%;
        background-color: white;


        
    }

        nav > img {
            float: left;
            height: 40px;
            margin-top: 10px;
            margin-left: 10px;

        }
        a {
            display: inline-block;
            line-height: 30px;
            margin-left: 20px;
            margin-top: 10px;
            text-decoration: none;
            padding: 10px;
            color: #1F1F1F;
        }

        nav > div {
            display: inline-block;
            float: right;
            margin: 0%;
            margin-right: 40px;
            /* margin-top: 10px; */
            text-decoration: none;
            
        }

            a.store {
                background-color: #363636;
                padding: 5px;
                padding-left: 20px;
                padding-right: 20px;
                color: white;
            }
                
            }
main {
    display: inline-block;
}
    main > img {
        display: inline-block;
        width: 100%;
        margin-top: 20px;
    }



